body {
display: flex;
font-family: Roboto;
margin: 0;
padding: 0;
}

.body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  background-color: 
  #1f2937;
  color: white;
  margin: -8px;
  padding-bottom: 100px;
  padding-left: 150px;
  padding-right: 150px;
}

.header-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.h3 {
  font-size: 24px;
  color: #F9FAF8;
}

p {
  margin-top: -5px;
}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 18px;
  color: #E5E7EB;
}

.left-content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.awesome {
  margin-bottom: 0px;
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;

}

.right-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex: 1;
}

.second-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 50px;
  gap: 400px;;
}


.button-1 {
  border-radius: 5px;
  border-color: #3882F6;
  background-color: #3882F6;
  color: #F9FAF8;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 10px;
}

.image {
  max-width: 450px;
}

.images {
  max-width: 300px;
  border-radius: 10px;
}

.subtext {
  font-size: 18px;
  color: #E5E7EB;
}

.information-section {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 100px;
}

.info-title {
  align-items: center;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: #1F2937;
}

.images-section {
  text-align: center;
  
}

.img {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  margin-top: 30px;
}

.text {
  max-width: 300px;
  font-size: 18px;
  color: rgb(115, 115, 115);
}

.gray-section {
  background-color: #E5E7EB;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  
}

.quote, .thor {
  max-width: 650px
}

.quote {
  font-style: italic;
  font-size: 36px;
  font-weight: lighter;
  color: #1F2937;
 
}

.thor {
  padding-left: 450px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cta-container {
  max-width: 650px;
  margin-top: 75px;
  background-color: #3882f6;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 35px 70px 25px 70px;
  align-items: center;
  justify-content: center;
  gap: 115px;
  border-radius: 5px;
}

.button-2 {
  border-color: #F9FAF8;
  background-color: #3882f6;
  color: #F9FAF8;
  border-radius: 5px;
  border-style: solid;
  padding: 5px 22px 5px 22px;
  cursor: pointer;
}

.cta-time {
  font-weight: 700;
}

.sign-text {
  color: #E5E7EB;
}

.footer {
  background: #1F2937;
  color: #F9FAF8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin-top: 60px;
}

.copy-text {
  color: #E5E7EB
}